@import url(https://fonts.googleapis.com/css?family=Exo+2:300);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.side-bar {
  flex-basis: 20%;
  max-width: 20%;
  height: 100%;
  border-right: #eee solid 1px;
  padding-right: 5px;
  box-sizing: border-box;
  word-break: break-all;
}

.side-bar header {
  margin-bottom: 100px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: .07em;
  cursor: pointer;
}

.header__title {
  margin-bottom: -13px;
  font-family: 'Lobster', cursive;
  text-shadow: 0px 1px rgba(255, 0, 0, .4);
}

.header__title a {
  text-decoration: none;
  color: rgb(202, 103, 82);
  transition-duration: .7s;
}

.header__title a:hover {
  color: rgb(107, 36, 20);
  transition-duration: .7s;
}

.header__author {
  font-size: 0.8em;
  margin-left: 35%;
  color: rgb(117, 21, 1);
  text-shadow: .8px .9px rgba(217, 190, 184, .4);
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
  font-style: italic;
}

.nav {
  margin-top: 90px;
  text-align: center;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav ul li {
  list-style: none;
  font-family: 'Exo 2';
}

.nav__li:after {
  display: block;
  width: 0px;
  height: 1px;
  background: rgb(193, 90, 67);
  margin: 0 auto;
  content: '';
  width: 0%;
  transition-duration: .7s;
}

.nav__li:hover:after {
  width: 50%;
  transition-duration: 1s;
}

.nav ul .nav__li__active a {
  color: rgb(218, 102, 75);
  margin-left: 10px;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.nav ul li a {
  color: rgb(0, 0, 0);
  text-shadow: 1px 3px rgba(220, 220, 220, .3);
  text-decoration:none;
  display: block;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
}

.nav ul li a:hover {
  text-decoration:none;
}

.nav__li {
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.content {
  font-family: 'PT Sans', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  flex-basis: 80%;
}

.content__togle {
  animation-name: toggle-content;
  animation-duration: 1s;
}

.not-read-bookmarks {
  display: inline-block;
  box-sizing: border-box;
  width: 46%;
}

.read-bookmarks {
  display: inline-block;
  box-sizing: border-box;
  width: 46%;
}

.not-bookmarks {
  display: none;
}

.add-width {
  width: 100%;
}

@keyframes toggle-content {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .side-bar header {
    display: none;
  }

  .nav {
    margin-top: 40px;
  }

  .nav__li:after {
    display: block;
    width: 0px;
    height: 1px;
    background: rgb(193, 90, 67);
    margin: 0 auto;
    content: '';
    width: 0%;
    transition-duration: 1s;
  }

  .nav__li:hover:after {
    width: 100%;
    transition-duration: 1s;
  }
}