<div class="bookmarks" ng-if="BookmarkCtrl.isShow">
  <div class="not-read-bookmarks" ng-class="{'not-bookmarks': !BookmarkCtrl.bookmarks.notRead.length, 'add-width': !BookmarkCtrl.bookmarks.read.length}">
    <h3>Not Read</h3>
    <a ng-repeat="bookmarks in BookmarkCtrl.bookmarks.notRead" href="/{{bookmarks.href}}" target="_black">{{bookmarks.name}}</a>
  </div>
  <div class="read-bookmarks" ng-class="{'not-bookmarks': !BookmarkCtrl.bookmarks.read.length, 'add-width': !BookmarkCtrl.bookmarks.notRead.length}">
    <h3>Read</h3>
    <a ng-repeat="bookmarks in BookmarkCtrl.bookmarks.read" href="/{{bookmarks.href}}" target="_black">{{bookmarks.name}}</a></li>
  </div>
</div>

<div ng-if="!BookmarkCtrl.isErr">
  <h2>{{BookmarkCtrl.err}}</h2>
</div>

<div ng-if="!BookmarkCtrl.isShow">
  <h2>No Bookmarks</h2>
</div>