<ul>
  <li
    class='nav__li'
    ng-repeat="menu in menuCtrl.bookmarkThemes"
    ng-class="{ 'nav__li__active': menuCtrl.isSelected(menu) }"
    ng-click="menuCtrl.refreshContent()">
      <a
        ng-href="/bookmark-theme/{{menu.name}}">
          {{menu.name}}
      </a>
  </li>
</ul>