<div class="from">
  <h2>Темы</h2>
  <form>
    <div class="form-group">
        <label for="theme">Новая тема:</label>
        <input type="text" class="form-control" id="theme" placeholder="mysql">
      </div>
      <button type="submit" class="btn btn-success">Создать</button>
  </form>
</div>
<div class="bookmarks" ng-if="BookmarksCtrl.isShow">
  <div class="not-read-bookmarks" ng-class="{'not-bookmarks': !BookmarksCtrl.bookmarks.notRead.length, 'add-width': !BookmarksCtrl.bookmarks.read.length}">
    <h3>Not Read</h3>
    <a ng-repeat="bookmarks in BookmarksCtrl.bookmarks.notRead" href="/{{bookmarks.href}}" target="_black">{{bookmarks.name}}</a>
  </div>
  <div class="read-bookmarks" ng-class="{'not-bookmarks': !BookmarksCtrl.bookmarks.read.length, 'add-width': !BookmarksCtrl.bookmarks.notRead.length}">
    <h3>Read</h3>
    <a ng-repeat="bookmarks in BookmarksCtrl.bookmarks.read" href="/{{bookmarks.href}}" target="_black">{{bookmarks.name}}</a></li>
  </div>
</div>