<ul class="menu">
  <li
  class="menu_button"
  ng-class="{ 'selected-li': menuCtrl.isSelected(menu) }"
  ng-repeat="menu in menuCtrl.menu">
    <a ng-href="/admin/{{menu}}">{{menu}}</a>
  </li>
  <a href="/admin/logout">logout</a>
</ul>