<div>
  <button>Create</button>
</div>
<br>
<table>
  <tr ng-repeat="(index, pages) in PagesCtrl.data">
    <th class="th-page-name"><a href="/pages/{{index}}" target="_blank">{{index}}</a></th>
    <th><button ng-click="PagesCtrl.delete(index)">Delete</button></th>
    <th><button ng-click="PagesCtrl.update(index)">Update</button></th>
  </tr>
</table>