<% layout('admin/layout') -%>

<% if (!length) { %>
  <h3>Нету зарисей, пока ;(</h3>
  <hr>
  <br>
  <a href="/admin/topics/create" class="btn btn-primary">Создать топик</a>
<% } %>

<% if (length) { %>
  <h3>Топики</h3>
  <hr>
  <a href="/admin/topics/create" class="btn btn-primary">Создать топик</a>
  <br>
  <br>

<div class="content-panel">
    <h4><i class="fa fa-angle-right"></i> No More Table</h4>
    <section id="no-more-tables">
      <table class="table table-bordered table-striped table-condensed cf">
        <thead class="cf">
        <tr>
          <th class="numeric">Id</th>
          <th class="numeric">Title</th>
          <th class="numeric">URL</th>
          <th class="numeric">Created At</th>
          <th class="numeric">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for(topic of topics) { %>

        <tr>
          <td><%= topic._id %></td>
          <td><%= topic.title %></td>
          <td><a href="/topics/<%= topic.url %>" target="_blank"><%= topic.url %></a></td>
          <td><%= topic.createdAt %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-theme04 dropdown-toggle" data-toggle="dropdown">
                Действия <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/admin/topics/update/<%= topic._id %>">Изменить</a></li>
                <li class="divider"></li>
                <li><a href="/admin/topics/delete/<%= topic._id %>">Удалить</a></li>
              </ul>
            </div>
          </td>

        <tr>

          <% } %>
        </tbody>
      </table>
    </section>
  </div>

<% } %>
