<% layout('admin/layout') -%>

<h3>Создать топик</h3>

<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <form action="/admin/topics/update/<%= topic._id %>" class="form-horizontal style-form" method="post">

        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Титул</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="<%= topic.title %>">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Url</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="url" value="<%= topic.url %>">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Описание</label>
          <div class="col-sm-10">
            <textarea name="description"><%= topic.description %></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Текст</label>
          <div class="col-sm-10">
            <textarea name="text" id="text"><%= topic.text %></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-success">Изменить</button>
        <a href="<%= backUrl %>" class="btn btn-default">Назад</a>
      </form>
    </div>
  </div>
</div>
