.search-bar { margin-top: 30px; margin-bottom: 30px; }
.search-bar__submit-button { outline: none; }
.city-name { vertical-align: middle; }
.wearher-row td:not(.city-name) div { width: 200px; height: 200px; text-align: center; }
td:first-of-type { height: 200px; width: 250px; }