<% layout('client/layout') -%>



<% if (!length) { %>
  <h2>Нету зарисей, пока ;(</h2>
<% } %>

<% if (length) { %>

  <section class="topics">
    <% for(topic of topics) { %>

      <article class="topic">
        <h3><a href="/topics/<%= topic.url%>"><%= topic.title %></a></h3>
        <p class="topic__description">
          <%- topic.description %>
        </p>
        <time class="topic__time">11 Dec 2016</time>
      </article>

    <% } %>
  </section>

<% } %>
