<% layout('client/layout') -%>

<section class="topics">

  <article class="topic__page">
    <h3><%= topic.title %></h3>
    <time class="topic__time">11 Dec 2016</time>
    <p class="topic__text">
      <%- topic.text %>
    </p>
  </article>

</section>
