<!DOCTYPE html>
<html>
<head>
  <title>Блог</title>
  <meta charset="utf-8">
  <meta name="description" content="Витилик Хотей. Сейт про веб разоаботку.">
  <meta name="keywords" content="web, development, javascript, node, angular, web development">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai-sublime.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <ul class="menu">
      <li class="menu__li">
        <a href="/" class="menu__link  <% if (currentUrl == '' || currentUrl == 'topics') { %>  <%= "menu__link__active" %> <% } %>">Блог</a>
      </li>

      <li class="menu__li">
        <a href="/about" class="menu__link <% if (currentUrl == 'about') { %>  <%= "menu__link__active" %> <% } %>">Об Авторе</a>
      </li>

      <li class="menu__li">
        <a href="/contacts" class="menu__link <% if (currentUrl == 'contacts') { %>  <%= "menu__link__active" %> <% } %>">Контакты</a>
      </li>

    </ul>

    <div class="clearfix"></div>

    <div class="search">
      <input type="text" name="search" class="search__input" placeholder="Поиск...">
    </div>
  </header>

  <%- body %>

</div>
</body>
<script>hljs.initHighlightingOnLoad();</script>
</html>


