<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>


  <link rel="stylesheet" href="/css/login.css">


</head>

<body>

<body class="align">

<div class="site__container">

  <div class="grid__container">

    <form action="/login" method="post" class="form form--login">

      <div class="form__field">
        <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
        <input id="login__username" type="text" class="form__input" name="login" placeholder="Username" required>
      </div>

      <div class="form__field">
        <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
        <input id="login__password" type="password" class="form__input" placeholder="Password" name="password" required>
      </div>

      <div class="form__field">
        <input type="submit" value="Вход">
      </div>

    </form>

  </div>

</div>

</body>


</body>
</html>
