<!DOCTYPE html>
<html>
<head>
  <title>Mini Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/client.js"></script>
</head>
<body>
<div class="wrapper" ng-app="MiniBlog" id="#top">
   <%- body %>
</div>
</body>
</html>