<% layout('layout') -%>

<div class="side-bar">
  <header-dir></header-dir>
  <nav class='header__nav nav'>
  <ul>
    <menu-dir></menu-dir>
  </ul>
  </nav>
</div>

<div class="content">
  <div ui-view id="main-content" ></div>
</div>