@font-face {
  font-family: Open Sans;
  src: url(/fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: PT Sans;
  src: url(/fonts/pt-sans/PT_Sans-Web-Regular.ttf);
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

html, body {
  width: 100%;
  font-family: PT Sans;
  font-size: 14px;
  background: #272C30;
  color: #ccc;
}

body {
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans';
  color: #FFF;
}

#wrapper {
  width: 70%;
  margin: 0 auto;
  min-height: 100%;
}

header {
  margin-bottom: 130px;
}

.menu {
  margin: 0;
  float: right;
  list-style: none;
  margin-top: 20px;
}

.menu__li {
  display: inline-block;
}

.menu__link {
  text-decoration: none;
  color: #818181;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  margin-right: 20px;
  position: relative;
}

.menu__link:hover {
  color: #F3F3F3;
  transition-duration: .7s;
}

.menu__link::before {
  width: 0;
  margin: 0 auto;
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  border-bottom: 2px solid #F3F3F3;
}

.menu__link:hover::before {
  width: 100%;
  transition-duration: .7s;
}

.menu__link__active {
  color: #F3F3F3;
}

.menu__link__active::before {
  width: 100%;
  margin: 0 auto;
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  border-bottom: 2px solid #F3F3F3;
}

.search__input {
  width: 60%;
  margin: 0 auto;
  border: none;
  outline: none;
  border-bottom: 1px solid #818181;
  padding: 5px 0;
  background: none;
  display: block;
  font-size: 1.3em;
  color: #818181;
  font-weight: normal;
  margin-top: 100px;
  /*animation-name: input_default;*/
  /*animation-duration: .7s;*/
  cursor: pointer;
  transition-duration: .7s;
}

.search__input:focus {
  border-bottom: 1px solid #EEEEEE;
  color: #EEEEEE;
  /*width: 100%;*/
  /*animation-name: input_focus;*/
  /*animation-duration: .7s;*/
  transition-duration: .7s;
}

@keyframes input_focus {
  from {
    width: 60%;
  }

  to {
    width: 100%;
  }
}

@keyframes input_default {
  from {
    width: 100%;
  }

  to {
    width: 60%;
  }
}

.topic__page {
  margin-bottom: 30px;
}

.topic {
  margin-bottom: 100px;
  color: #7F7F7F;
}

.topic h3 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

.topic h3 a {
  text-decoration: none;
  color: #CCC;
  transition-duration: .7s;
}

.topic h3 a:hover {
  color: #F3F3F3;
  transition-duration: .7s;
}

.topic__page h3 {
  font-size: 1.6em;
  color: #F3F3F3;
}

.topic__time {
  color: #5D5D5D;
}

.topic__description {
  line-height: 20px;
}

.topic__text {
  color: #F3F3F3;
  letter-spacing: .1px;
  line-height: 20px;
  font-size: 1.2em;
}

.tab {
  display: inline-block;
  margin-left: 3.5%;
}
