<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-click="ActionButtonUserCtrl.delete()"><a href="#">Delete</a></li>
    <li ng-click="ActionButtonUserCtrl.update()"><a href="#">Update</a></li>
  </ul>
</div>
