  <form class="form-user">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="user.name">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="user.email">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" ng-model="user.address">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="number" class="form-control" ng-model="user.phone">
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" ng-model="user.city">
    </div>
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" ng-model="user.street">
    </div>
    <div class="clear-fix"></div>
    <div class="btn-submit-user">
      <button type="submit" class="btn btn-default" ng-click="update(); closeThisDialog()">Update</button>
      <button type="submit" class="btn btn-default" ng-click="closeThisDialog()">Close</button>
    </div>
  </form>
