<tr>
  <td scope="row">{{ UserItemCtrl.user.index }}</td>
  <td>{{ UserItemCtrl.user.name }}</td>
  <td>{{ UserItemCtrl.user.email }}</td>
  <td>{{ UserItemCtrl.user.phone }}</td>
  <td>{{ UserItemCtrl.user.street }}</td>
  <td>{{ UserItemCtrl.user.city }}</td>
  <td>{{ UserItemCtrl.user.state }}</td>
  <td>{{ UserItemCtrl.user.state }}</td>
  <td>
    <action-button-user
      user="UserItemCtrl.user"
      users="UserItemCtrl.users"
      isUpdate="UserItemCtrl.isUpdate">
      </action-button-user>
  </td>
</tr>
