<div>
  <form class="row form-user">
    <div class="form-group col-md-3">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="user.name">
    </div>
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="user.email">
    </div>
    <div class="form-group col-md-3">
      <label>Address</label>
      <input type="text" class="form-control" ng-model="user.address">
    </div>
    <div class="form-group col-md-3">
      <label>Phone</label>
      <input type="number" class="form-control" ng-model="user.phone">
    </div>
    <div class="form-group col-md-3">
      <label>City</label>
      <input type="text" class="form-control" ng-model="user.city">
    </div>
    <div class="form-group col-md-3">
      <label>Street</label>
      <input type="text" class="form-control" ng-model="user.street">
    </div>
    <div class="clear-fix"></div>
    <div class="btn-submit-user">
      <button type="submit" class="btn btn-default" ng-click="UserListCtrl.addUser();">Create User</button>
    </div>
  </form>

  <table class="table form-user" class="user-list" ng-if="UserListCtrl.users.length">
    <caption>Users</caption>

    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Street</th>
        <th>Sity</th>
        <th>State</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr user-item
        ng-repeat="user in UserListCtrl.users"
        user="user" users="UserListCtrl.users">
      </tr>
    </tbody>

  </table>
</div>
