<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

  <title>Web Store</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <!--external css-->
  <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
  <link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">

  <!-- Custom styles for this template -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/css/admin.css" rel="stylesheet">
  <link href="/assets/css/style-responsive.css" rel="stylesheet">

  <script src="/assets/js/chart-master/Chart.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<section id="container" >
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered"><a href="#"><img src="/img/avatar.jpg" class="img-circle" width="60"></a></p>
        <h5 class="centered">Vitaliy Khotey</h5>

        <li class="mt">
          <a class="active" href="/admin/topics">
            <i class="fa fa-dashboard"></i>
            <span>Посты</span>
          </a>
        </li>

      </ul>

    </div>
  </aside>

  <section id="main-content">

    <section class="wrapper">
      <%- body %>
    </section>

  </section>

</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/jquery-1.8.3.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/assets/js/jquery.sparkline.js"></script>


<!--common script for all pages-->
<script src="/assets/js/common-scripts.js"></script>

<script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="/assets/js/gritter-conf.js"></script>

<!--script for this page-->
<script src="/assets/js/sparkline-chart.js"></script>
<script src="/assets/js/zabuto_calendar.js"></script>
<script type="application/javascript">
  $(document).ready(function () {
    $("#date-popover").popover({html: true, trigger: "manual"});
    $("#date-popover").hide();
    $("#date-popover").click(function (e) {
      $(this).hide();
    });

    $("#my-calendar").zabuto_calendar({
      action: function () {
        return myDateFunction(this.id, false);
      },
      action_nav: function () {
        return myNavFunction(this.id);
      },
      ajax: {
        url: "show_data.php?action=1",
        modal: true
      },
      legend: [
        {type: "text", label: "Special event", badge: "00"},
        {type: "block", label: "Regular event", }
      ]
    });
  });


  function myNavFunction(id) {
    $("#date-popover").hide();
    var nav = $("#" + id).data("navigation");
    var to = $("#" + id).data("to");
    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
  }
</script>

<script>
  let myEditor = {
    codeString : {
      html: function (text) {
        return `\`\`\`html \n ${text} \n \`\`\``;
      },

      js: function (text) {
        return `\`\`\`js \n ${text} \n \`\`\``;
      },

      css: function (text) {
        return `\`\`\`css \n ${text} \n \`\`\``;
      },
    },

    init: function (selector) {
      this.selector = selector;
      this.initMenu();
      this.initEvents();
    },

    getSelected: function () {
      let el = document.querySelector(this.selector);

      return el.value.substring(el.selectionStart, el.selectionEnd);
    },

    insertAtCaret: function (text) {
      var textarea = document.querySelector(this.selector);
      if (!textarea) { return; }
      var strat = textarea.selectionStart;
      var end = textarea.selectionEnd;

      var textareaText = textarea.value;
      var isEmptyTextarea = textareaText.length;

      var newText = textareaText.substr(0, strat) + '\n' + text + '\n' + textareaText.substr(end, textareaText.length);
      textarea.value = newText;
    },

    insertHtml: function () {
      let selected = this.getSelected();
      const html = this.codeString.html(selected);

      this.insertAtCaret(html);
    },

    insertJs: function () {
      let selected = this.getSelected();
      const html = this.codeString.js(selected);

      this.insertAtCaret(html);
    },

    insertCss: function () {
      let selected = this.getSelected();
      const html = this.codeString.css(selected);

      this.insertAtCaret(html);
    },

    initMenu: function () {
      const jsButton = '<button id=jsbutton>Js</button>';
      const htmlButton = '<button id=htmlbutton>html</button>';
      const cssButton = '<button id=cssbutton>css</button>';

      var string = jsButton + htmlButton + cssButton;

      let el = $(this.selector);
      el.before(string);
    },

    initEvents() {
      let that = this;

      $('#jsbutton').on('click', function (e) {
        e.preventDefault();

        that.insertJs();
      });

      $('#htmlbutton').on('click', function (e) {
        e.preventDefault();

        that.insertHtml();
      });

      $('#cssbutton').on('click', function (e) {
        e.preventDefault();

        that.insertCss();
      });

      $('#text').on('keydown', function (e) {
        if (e.keyCode === 9) {
          var start = this.selectionStart;
          var end = this.selectionEnd;
          var value = $(this).val();
          var selected = value.substring(start, end);

          var newSelected = '\t' + selected[0];

          for (var i = 1, length = selected.length; i < length; i++) {
            if (selected[i] == '\n') {
              newSelected += selected[i] + '\t';

              continue;
            }

            newSelected += selected[i];
            console.log(selected[i]);
          }

          if (!selected) {
            newSelected = '\t';
          }

          var newText = value.substr(0, start) + newSelected + value.substr(end, value.length);
          $(this).val(newText);

          e.preventDefault();
        }
      });
    }

  };

  myEditor.init('#text');
</script>
</body>
</html>
